<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- full path not required as we told express to use public as a static directory --}}
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    {{!-- any other HTML file that we render will appear hear --}}
    {{> navbar}}
    {{{body}}}
</body>
</html>