<h1>About Hourly Forecast</h1>

<ul>
    {{#each data}}
        <li class="city">{{@key}} : {{this}}</li>
    {{/each}}
</ul>

<form action="/" method="post">
    <label for="location">Location: </label>
    <input type="text" name="location"></input>
    <br>
    <label for="countryCode">Country Code: </label>
    <input type="text" name="countryCode"></input>
    <br>
    <input type="submit" value="send">
</form>