<h1>Current weather data</h1>

{{!-- old code --}}
{{!-- <p class="city" > {{city}} </p> --}}
{{!-- <p class="temp" > {{temp}}°C</p> --}}

<ul>
    {{#each data}}
        <li class="city">{{@key}} : {{this}}</li>
    {{/each}}
</ul>

<form action="/" method="post">
    <label for="location">Location: </label>
    <input type="text" name="location"></input>
    <br>
    <label for="countryCode">Country Code: </label>
    <input type="text" name="countryCode"></input>
    <br>
    <input type="submit" value="send">
</form>