/* body {
    background-color: gold;
    background-image: url("../img/lEye.jpg");
    background-repeat: no-repeat;
    background-position: center;
} */

h1 {
    display: flex;
    justify-content: center;
}

.city {
    display: flex;
    justify-content: center;
}

.temp {
    color: red;
    display: flex;
    justify-content: center;
    font-size: 30px;
}